body{
  background: #0f0f0f; 
  color: white; 
  font-family: Ariel;
  display: flex;
  justify-content: center;
align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  padding: 20px;
}
button{
  padding: 15px 35px;
  border: none;
  border-radius: 30px;
  background: pink;
  color: black;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
button:active{
  transform: scale(0.95);
  opacity: 0.8;
}
#conteudo{
  display: none;
}
img{
  width: 100px;
  max-width: 500px;
  border-radius: 25px;
  margin-top: 20px;
}
h1{
  color: pink;
  font-size: 45px;
}
h2{
  color: #ffbc6c1;
  max-width: 500px;
}
p{
  max-width: 500px;
  font-size: 18px;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin: 10px;
  color: #ffc0cb;
  font-size: 18px
}
